.container__footer {
    display: block;
    max-width: 1800px;
    position: relative;
}
.footer {
    height: 6rem;
    font-size: 1rem;
    border-top: 1px solid black;
    background-color: white;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    transition: height .2s;
}
.footer__smm {
    display: flex;
}
.footer__smm--item {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    transition: .3s;
}
.footer__smm--item:hover {
    background: red;
    transition: .3s;
}
.footer__smm--item svg:hover {
    fill: white;
    transition: .3s;
}
.footer__copyright {
    font-size: 1rem;
    line-height: 1.25rem;
}
@media (max-width: 639px) {
    .footer {
        height: 8rem;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer__smm--item {
        margin-right: 20px;
    }
    .footer__smm--item:last-child {
        margin-right: 0;
    }
    .footer__copyright {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}